@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

body, ul {

    margin: 0px;
    padding: 0px;

}

a {

    color: black; 
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}

a:hover {

    background: rgba(0, 0, 0, .05); 
    
}

#logo {

    font-size: 1.5rem;
    font-weight: bold;
   
}

header {

    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ff0800e7;
}

#menu {

    display: flex; 
    list-style: none;
    gap: .5rem;
}

#menu a {

    display: block;
    padding: .5rem;
}

#btn-mobile {

    display: none;
}

.header-site{

    background-color: black;
    background-position: center top; 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

p{

    color: rgb(255, 8, 8); 
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

h1{

    color: rgb(255, 8, 8); 
}

.caption{

    margin-top: 30px;
}

#g-center{

    text-align: center;
    margin-top: 40px;
}

.cards {

    justify-content: center;
}

main.cards {

    display: flex;
    padding: 32px;
    margin-top: 20px;
 }
 
 main.cards section.card{
 
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     background: rgb(13, 47, 240);
     padding: 1rem 1.5rem;
     border-radius: 8px;
     max-height: 468px;
     margin-left: 32px;
     position: inherit;
 
 }
 
 main.cards section.card:first-child {
 
     margin-left: 0;
 }
 
 main.cards section.card h3 {
 
     font-size: 100%;
     margin: 16px 0;
 }
 
 main.cards section.card.presentation{
 
     box-shadow: 20px 20px 50px -30px rgb(240, 240, 240);
 
 }
 
 .card  a{
 
     font-size:60px;
     color:lightblue;
     box-sizing: border-box;
 }
  
 
@media (max-width: 600px) {

    #menu{

        display: block; 
        position: absolute;
        width: 100%;
        top: 70px; 
        right: 0;
        background: #e7e7e7; 
        transition: .6s;
        z-index: 1000;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {

        height: calc(100vh + 190vh);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {

        padding: 1rem 0;
        margin: 0 1rem; 
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

    #btn-mobile {

        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer; 
        gap: .5rem;
    }

    #hamburger {

        color: black;
        display: block;
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after, #hamburger::before{

        content: ' ';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {

        border-top-color: transparent;
    }

    #nav.active #hamburger::before {

        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {

        transform: rotate(-135deg);
        top: -7px;
    }
}